{{/*Social bar*/}}
{{ partial "social.html" . }}

{{/*Content*/}}
<div class="ui centered grid about">
	<div class="sixteen wide mobile fifteen wide tablet twelve wide computer column about">
        {{ range where .Site.RegularPages "Section" "about" }}
            <section class="ui stacked segments">
                <div class="ui inverted segment">
                    <article class="twemoji">
                        {{ .Content | markdownify | emojify }}
                    </article>
                </div>
            </section>
        {{ end }}
	</div>
</div>
