{{/*  Search
  Beginnings courtesy of Craig Mod - https://gist.github.com/cmod/5410eae147e4318164258742dd053993
  A lot of this has been heavily, heavily modified, arguably beyond recognition as his original work.
*/}}

<search id="fastSearch" class="glass">
  <input id="searchInput" tabindex="0" type="search" aria-label="Site search" placeholder="Search the site...">
  <ul id="searchResults">
  </ul>
</search>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0/dist/fuse.basic.min.js"></script>
<script src="/js/fastsearch.js"></script>
