{{ range $name, $taxonomy := $.Site.Taxonomies.series }}
    {{/*Series title*/}}
    <div class="title">
        <i class="dropdown icon"></i>
        <a class="link" href="{{- "/series/" | relLangURL -}}{{- $name | urlize -}}">{{- $name | humanize | title -}}</a>
    </div>

    {{/*Series articles*/}}
    <div class="content">
        {{ range $taxonomy.Pages }}
            <a class="item" href="{{ .Permalink }}">
                <div>
                    <i class="cocktail icon"></i>
                    <p>{{ .LinkTitle }}</p>
                </div>
            </a>
        {{ end }}
    </div>
{{ end }}
